<ng-container *transloco="let t">
    <table>
        <tr *ngIf="!emptyList">
            <th>{{t('topic')}}</th>
            <th>{{t('lesson')}}</th>
            <th>{{t('date')}}</th>
        </tr>
    <tr *ngFor="let topic of topicList$|async, let i=index">
            <td><div class="topic_wrapper">{{topic.text}}</div></td>
            <td>{{topic.lesson}}</td>
            <td>{{formatDate(topic.date)}}</td>
        <td >
            <button *ngIf="!parentMode"  mat-raised-button class="secondary-btn" (click)="onDelete(topic)">{{t('delete')}}</button>
        </td>
</tr>
    </table>
</ng-container>

