.container {
    display: flex;
    margin: 1% 25% 0% 25%;
    justify-content:flex-end;
    z-index: 5;
}

.left{
    display:flex;
    justify-content: center;
}

.icon {
    position:absolute;
    width: 130px;
    left:25%;
    z-index:-1;
}