<div class="container blue">
    <img class="logo" src="../../assets/logo.png" />
    <div class="links highlightTextIn">
        <a>CONTACT</a>
        <a>ABOUT</a>
        <a>¯\_(ツ)_/¯</a>
        <ng-container *ngIf="userName;else login">
            <a *ngIf="type==1" routerLink="/register">FORM</a>
            <a *ngIf="type==2" routerLink="/report">REPORT</a>
            <a [matMenuTriggerFor]="menu">{{userName.toUpperCase()}}</a>
            <mat-menu #menu="matMenu">
                <button (click)="logOut()" mat-menu-item>Logout</button>
            </mat-menu>
        </ng-container>
        <ng-template #login>
            <a routerLink="/auth">LOGIN / SIGN UP</a>
        </ng-template>
    </div>
</div>