.container {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom:2%;
    padding:1rem;
    border-bottom: 2px solid #e5e5e5;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.left{
    display:flex;
    justify-content: center;
}

.icon {
    position:absolute;
    width: 130px;
    left:17%;
    top:9%;
    z-index:-1;
}