<ng-container *transloco="let t">
  <div class="container">
    <div class="content">
      <img class="icon" src="../../assets/lwb-logo.jpg">
      <div class="left">
        <select style="margin-left:10px" (change)="changeSiteLanguage($event)">
          <option *ngFor="let language of languageList" [value]="language.code">
            {{language.label}}
          </option>
        </select>
        <button *ngIf="loggedIn$|async" mat-stroked-button (click)="logout()">
          <mat-icon fontIcon="logout"></mat-icon>
          {{t('logout')}}
        </button>
      </div>
    </div>
    <button mat-stroked-button *ngIf="backArrowVisible" routerLink="/">
      <mat-icon fontIcon="arrow_back"></mat-icon>
      {{t('back')}}
    </button>
  </div>
</ng-container>