<div [ngClass]="['container', loading? 'inactive' : '' ]">
    <ng-container *transloco="let t">
        <h1>{{t('login')}}</h1>
        <div class="box">
            <form #loginForm="ngForm" (ngSubmit)="onLogIn(loginForm)">
                <mat-form-field>
                    <mat-label>{{t('username')}}</mat-label>
                    <input #username="ngModel" matInput  ngModel name="username" required />
                    <mat-hint class="red" *ngIf="username.touched && username.value.length<3">{{t('minLength')}}</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{t('password')}}</mat-label>
                    <input #password="ngModel" matInput ngModel [type]="showPassword ? 'text' : 'password'" name="password" required />
                    <mat-icon matSuffix (click)="togglePasswordVisibility()">
                        {{showPassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                    <mat-hint class="red" *ngIf="password.touched && password.value.length<3">{{t('minLength')}}</mat-hint>
                </mat-form-field>
                <mat-slide-toggle style="align-self:center" [(ngModel)]="isTeacher" name="toggle" (change)="toggleText($event)">{{isTeacher ? t('teacher'):t('parent')}}</mat-slide-toggle>
                <button [matTooltip]="!loginForm.valid ? t('missing_fields') : ''"
                    [ngClass]="loginForm.valid && username.value?.length>2 && password.value?.length>2 ? 'primary-btn' : 'inactive-btn'" mat-stroked-button class="wide-btn"
                    type="submit()">
                    {{t('login')}}
                </button>
            </form>
            <br>
            <br>
            <br>
            <!-- <button mat-button class="secondary-btn wide-btn" routerLink="/signup">{{t('signup')}}</button> -->
            <button mat-button class="secondary-btn wide-btn" routerLink="/register">{{t('register')}}</button>
        </div>
    </ng-container>
</div>
<app-spinner *ngIf="loading"></app-spinner>