.container {
  flex-direction: row;
  align-items: flex-start;
}

.radio_group {
  display: flex;
  flex-direction: row;
  padding:5px;
}

:host ::ng-deep .mat-radio-label-content {
  padding-right: 5px;
  padding-left: 1px;
}
.main{
  display:flex;
  flex-direction: column;
}
.center {
  text-align: center;
}

.textAssesment {
  resize: none;
  height: 15.75px;
}

.signedBy{
  width:100px;
}

button{
  margin-bottom: 20px;
}