.container{
    display:flex;
    flex-direction: row;
    margin:5px;
  }
  .radio_group{
    display:flex; flex-direction:row
  }
:host ::ng-deep .mat-radio-label-content {
    padding-right:5px;
    padding-left:1px;
}

.content{
  text-align:center;
}
button{
  height: 50px;
  margin-top: 4px;
  margin-left: 1px;
}