<div [ngClass]="['container', loading? 'inactive' : '' ]">
    <form class="content" #registerForm="ngForm" (ngSubmit)="submit()">
        <ng-container *transloco="let t">
        <mat-form-field>
            <mat-label>{{t('fullNameC')}}</mat-label>
            <input matInput ngModel type="text" name="fullNameC" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{t('fullNameL')}}</mat-label>
            <input matInput ngModel type="text" name="fullNameL" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{t('password')}}</mat-label>
            <input matInput ngModel type="password" name="pw" required />
        </mat-form-field>
        <mat-form-field>
            <input matInput ngModel name="dob" [matDatepicker]="picker" disabled>
            <mat-label>{{t('dob')}}</mat-label>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{t('class')}}</mat-label>
            <mat-select ngModel name="grade" required>
                <mat-option *ngFor="let class of classes" [value]="class">
                    {{class}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{t('uk_school')}}</mat-label>
            <input matInput ngModel type="text" name="ukraineSchool" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{t('pg_name')}}</mat-label>
            <input matInput ngModel type="text" name="pgName" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{t('address')}}</mat-label>
            <input matInput ngModel type="text" name="address" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{t('phone')}}</mat-label>
            <input matInput ngModel type="text" name="phoneNumber" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{t('email')}}</mat-label>
            <input matInput ngModel type="email" name="email" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{t('health')}}</mat-label>
            <input matInput ngModel type="text" name="healthIssues" />
        </mat-form-field>
        <mat-checkbox matInput ngModel name="vegetarian" [checked]="false">{{t('vegan')}}</mat-checkbox>
        <mat-checkbox matInput ngModel name="homeGoing" [checked]="false">{{t('home_alone')}}</mat-checkbox>
        <button [matTooltip]="!registerForm.valid ? t('missing_fields') : ''"
            [ngClass]="registerForm.valid && !loading ? 'primary-btn' : 'inactive-btn'" mat-stroked-button
            class="wide-btn">
            {{t('save')}}
        </button>
        </ng-container>
    </form>
</div>
<app-spinner *ngIf="loading"></app-spinner>