.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding:5%;

  &__type {
    width: 150px;
  }
}

button {
  margin-left: 5px;
  height: 60px;
}

.inactive>* {
  pointer-events: none;
  opacity: 0.5;
}
