   .container{
    display:flex;
    justify-content: center;
    align-items: center;
   }
   .box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin-top:10%;
    padding:3rem;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  form{ 
    display:flex;
    flex-direction: column;
  }
  h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
  }

  mat-radio-group{
    display: flex;
    justify-content: space-around;
    padding: 0.4rem;
  }
  
  .red{
    color:red;
  }
  

  @media (max-width: 800px){
    .login-box{
      display:flex;
      flex-direction: column;
      width: 340px;
      height:850px
    }
  }