   .login-box {
    display:flex;
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 400px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .left {
    padding: 40px;
    width: 300px;
    height: 400px;
  }
  
  h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
  }

  mat-radio-group{
    display: flex;
    justify-content: space-around;
    padding: 0.4rem;
  }
  .red{
    color:red;
  }
  .right {
    padding: 40px;
    width: 300px;
    height: 400px;
    background: url('https://goo.gl/YbktSj');
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
  }
  
  button.social-signin.facebook {
    background: #32508E;
  }
  
  button.social-signin.google {
    background: #DD4B39;
  }

  @media (max-width: 800px){
    .login-box{
      display:flex;
      flex-direction: column;
      width: 340px;
      height:850px
    }
  }