<div class="login-box">
    <div class="left">
        <h1>Log in</h1>
        <form #loginForm="ngForm" (ngSubmit)="onLogIn(loginForm)">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput ngModel type="email" name="email" required/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput ngModel [type]="showPassword ? 'text' : 'password'" name="password"  required/>
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </mat-form-field>
            <button [matTooltip]="!loginForm.valid ? 'All fields must be filled' : ''" 
                    [ngClass]="loginForm.valid ? 'form-button' : 'inactive-button'" 
                    mat-stroked-button 
                    class="btn"
                    type="submit()">
                    Log me in
            </button>
        </form>
        <br>
        <br>
        <br>
        <button mat-stroked-button class="btn social-signin facebook">Log in with facebook</button>
        <button mat-stroked-button class="btn social-signin google">Log in with Google+</button>
    </div>

    <div class="right">
        <h1>Sign up</h1>
        <form #signUpForm="ngForm" (ngSubmit)="onSignUp()">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput ngModel type="text" name="username" required/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput ngModel type="email" name="email" required/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput ngModel [type]="showPassword ? 'text' : 'password'" name="password" (blur)='passwordsMatch()' required/>
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm password</mat-label>
                <input matInput ngModel [type]="showPassword ? 'text' : 'password'" name="password2" (blur)='passwordsMatch()' required/>
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
                <mat-hint class="red" *ngIf="passwordMissmatch">Passwords do not match</mat-hint>
            </mat-form-field>
            <mat-radio-group ngModel name="type" required>
                <mat-radio-button value="1">Parent</mat-radio-button>
                <mat-radio-button value="2">Teacher</mat-radio-button>
            </mat-radio-group>
            <button [matTooltip]="!signUpForm.valid ? 'All fields must be filled' : ''" 
                    [ngClass]="signUpForm.valid && !passwordMissmatch ? 'form-button' : 'inactive-button'" 
                    mat-stroked-button 
                    class="btn"
                    type="submit()">
                    Sign me up
            </button>
        </form>
    </div>
</div>