table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

tr {
  text-align: center;
  border-bottom: 1px solid;

}

td {
  padding: 5px;
}

.topic_wrapper {
  text-align: left;
  max-width: 500px;
  word-break: break-word;
}