.food_table>* {
    text-align: center;
}

.top {
    display: flex;
    flex-direction:column;
    >*{
        padding:0px 5px 0px 5px
    }
     &__upper {
        border-width: 1px;
        border-style: solid solid none solid;
        border-radius: 5px  5px  0px  0px;  
        
    }
    &__lower {
        border-width: 1px;
        border-style: none solid solid solid;
        border-radius: 0px  0px  5px  5px;   
    }
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
   background-color: #2196f3;
}