<div [ngClass]="['container', loading? 'inactive' : '' ]">
    <ng-container *transloco="let t">
        <h1>{{t('signup')}}</h1>
        <div class="box">
        <form #signUpForm="ngForm" (ngSubmit)="onSignUp()">
            <mat-form-field>
                <mat-label>{{t('email')}}</mat-label>
                <input matInput ngModel type="email" name="email" required />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{t('password')}}</mat-label>
                <input matInput ngModel [type]="showPassword ? 'text' : 'password'" name="password"
                    (blur)='passwordsMatch()' required />
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{t('confirm_password')}}</mat-label>
                <input matInput ngModel [type]="showPassword ? 'text' : 'password'" name="password2"
                    (blur)='passwordsMatch()' required />
                <mat-icon matSuffix (click)="togglePasswordVisibility()">
                    {{showPassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
                <mat-hint class="red" *ngIf="passwordMissmatch">Passwords do not match</mat-hint>
            </mat-form-field>
            <!-- <mat-checkbox (change)="checkAgreement($event.checked)"><span style="font-size: 12px">I agree to the <a
                routerLink="/terms">terms and conditions </a>and the <a routerLink="/privacy">privacy
                policy</a>.*</span></mat-checkbox> -->
            <button [matTooltip]="!signUpForm.valid ? t('missing_fields') : ''"
                [ngClass]="signUpForm.valid && !passwordMissmatch ? 'primary-btn' : 'inactive-btn'"
                mat-stroked-button class="wide-btn" type="submit()">
                {{t('signup')}}
            </button>
        </form>
    </div>
</ng-container>
</div>
<app-spinner *ngIf="loading"></app-spinner>