.container {
    display:flex;
   justify-content: center;
   align-items: center;
    position: relative;
    margin: 5% auto;
    padding:5%;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  .content{
    display:flex;
    flex-direction: column;

    &_row{
      display:flex;
      flex-direction: row;
    }
  }