<ng-container *transloco="let t">
    <form #form="ngForm" (ngSubmit)="onSave(form)" class="container" (click)="$event.stopPropagation()">
        <mat-form-field class="topic_text_container" appearance="outline">
            <mat-label>{{t('topic')}}</mat-label>
            <textarea class="topic" matInput ngModel name="text" type="text" required></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{t('lesson')}}</mat-label>
            <input matInput ngModel name="lesson" type="number" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <input matInput ngModel name="date" [matDatepicker]="picker" required>
            <mat-label>{{t('date')}}</mat-label>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button [disabled]="!form.valid" class="primary-btn">{{t('save')}}
        </button>
    </form>
    <div class="list_container">
        <app-topic-list [info]="{subject,grade}"></app-topic-list>
    </div>
</ng-container>