.container {
    flex-direction: row;
  }
  
  button{
    margin-bottom: 20px;
  }
  .topic_text_container{
    width:400px;
  }
  .topic {
    height: 15.75px;
  }
  .list_container{
    display:flex;
    justify-content:center;
  }