<div class="container">
    <div class="content">
        <ng-container *transloco="let t">
            <span>{{t('name')}}: {{student.fullNameL}}</span>
            <span>{{t('dob')}}: {{formattedDate}}</span>
            <span>{{t('address')}}: {{student.address}}</span>
            <span>{{t('parent/guardian name')}}: {{student.address}}</span>
            <span>{{t('phone')}}: {{student.address}}</span>
            <span>{{t('class')}}: {{student.currentGrade}}</span>
        </ng-container>
    </div>
</div>