<div class="container">
    <div class="content__data">
        <ng-container *transloco="let t">
            <span>
                <label>{{t('name')}}: </label>
                <p> {{student.fullNameC}} - {{student.fullNameL}}</p> 
            </span>
            <span>
                <label>{{t('dob')}}:</label>
                <p> {{formattedDate}}</p> 
            </span>
            <span>
                <label>{{t('class')}}:</label>
                <p> {{student.currentGrade}}</p> 
            </span>
            <span *ngIf="student.pgName">
                <label>{{t('pg_name')}}:</label>
                <p> {{student.pgName}}</p> 
            </span>
            <span *ngIf="student.address">
                <label>{{t('address')}}:</label>
                <p> {{student.address}}</p> 
            </span>
            <span *ngIf="student.phone">
                <label>{{t('phone')}}:</label>
                <p> {{student.phone}}</p> 
            </span>
            <span *ngIf="student.email">
                <label>{{t('email')}}:</label>
                <p> {{student.email}}</p> 
            </span>
            <span *ngIf="student.ukraineSchool">
                <label>{{t('uk_school')}}:</label>
                <p> {{student.ukraineSchool}}</p> 
            </span>
            <span *ngIf="student.healthIssues">
                <label>{{t('health')}}:</label>
                <p> {{student.healthIssues}}</p> 
            </span>
            <span *ngIf="student.homeGoing">
                <label>{{t('home_alone')}}:</label>
                <p> {{student.homeGoing ? t('yes') : t('no')}}</p> 
            </span>
        </ng-container>
    </div>
</div>