.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:1%;

    .list{
      display:flex;
      justify-content: space-between;
      min-width:400px;

        .name{
            align-self:center;
            font-weight: bold;
        }
    }
    .content{
        display:flex;
        flex-direction: column;
        margin-top:20px;
        margin-bottom:20px;

    }
}
h1{
    text-align:center;
}
