<div class="container">
    <ng-container *transloco="let t">
        <div [ngClass]="['box', loading?'inactive':'']">
            <h1 *ngIf="grade">{{grade}}. {{t('class')}}</h1>
            <div class="content" *ngFor="let student of activeStudents$|async">
                <div class="content__student">
                    <div class="name">{{student.fullNameC}} - {{student.fullNameL}}</div>
                    <div>
                        <button mat-stroked-button class="clickable" (click)="openData(student)">{{t('data')}}</button>
                        <button mat-stroked-button class="clickable"
                            (click)="openGrades(student)">{{t('diary')}}</button>
                        <button mat-stroked-button class="clickable"
                            (click)="openAttendance(student)">{{t('attendance')}}</button>
                        <button mat-stroked-button class="clickable" color="warn" (click)="toggleArchive(student)">{{
                            t('remove_student') }}</button>
                    </div>
                </div>
                <div *ngIf="parentMode">
                    <mat-divider></mat-divider>
                    <app-food-order [student]="student"></app-food-order>
                    <br>
                </div>
            </div>
            <br>
            <div class="content" *ngFor="let student of archivedStudents$|async">
                <div class="content__student">
                    <div class="name">{{student.fullNameC}} - {{student.fullNameL}}</div>
                    <button mat-stroked-button class="clickable" color="warn" (click)="toggleArchive(student)">{{
                        t('activate_student') }}</button>
                </div>
            </div>
            <a mat-stroked-button routerLink="/register">Register new student</a>
            <app-spinner *ngIf="loading"></app-spinner>
        </div>
    </ng-container>
</div>