<div class="container">
    <ng-container *transloco="let t">
    <h1 *ngIf="grade">{{grade}}. {{t('class')}}</h1>
    <div class="content" *ngFor="let student of students$|async">
        <div class="list">
            <div class="name">{{student.fullNameC}}</div>
            <button mat-stroked-button class="clickable" (click)="openData(student)">{{t('data')}}</button>
            <button mat-stroked-button class="clickable" (click)="openGrades(student)">{{t('diary')}}</button>
            <button mat-stroked-button class="clickable" (click)="openAttendance(student)">{{t('attendance')}}</button>
        </div>
        <br>
        <app-food-order *ngIf="parentMode" [student]="student"></app-food-order>
        <mat-divider></mat-divider>
    </div>
</ng-container>
</div>
<app-spinner *ngIf="loading"></app-spinner>
