.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1%;
    h1 {
        text-align: center;
    }

    .name {
        align-self: center;
        font-size: 16px;
        margin:0 5px 5px 0;
    }

    .content {
        width: 100%;

        &__data{
            display:flex;
            flex-direction: column;
        }
        &__student{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
