    <ng-container *transloco="let t">
        <mat-button-toggle-group class="subjects">
            <mat-button-toggle *ngFor="let page of student.gradeBook" value="page.subject"
                (change)="changeSubject(page)">
                {{t(page.subject)}}
            </mat-button-toggle>
        </mat-button-toggle-group>
        <table *ngIf="page">
            <tr>
                <th>{{t('topic')}}</th>
                <th>{{t('text_assesment')}}</th>
                <th>{{t('note')}}</th>
                <th>{{t('type')}}</th>
                <th>{{t('mark')}}</th>
                <th>{{t('date')}}</th>
            </tr>
            <tr *ngFor="let entry of page.results">
                <td><p *ngFor="let topic of entry.topics">{{topic}}</p></td>
                <td><textarea disabled>{{entry.textAssesment}}</textarea></td>
                <td>{{entry.note}}</td>
                <td >{{ entry.type ? t(entry.type) : ''}}</td>
                <td>{{entry.mark}}</td>
                <td>{{dateOf(entry.date)}}</td>
            </tr>
        </table>
    </ng-container>