.subjects {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
table{
    width: 100%;
    border-collapse: collapse;
}
tr{
    text-align:center;
    border-bottom:1px solid;
}
:host ::ng-deep .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
    border: 0;
}