<div class="container" *ngFor="let page of student.gradeBook">
    <ng-container *transloco="let t">
    <h2>{{page.subject}} - {{t('class')}} {{page.grade}}</h2>
    <table class="content">
        <tr>
            <th>{{t('date')}}</th>
            <th>{{t('note')}}</th>
            <th>{{t('type')}}</th>
            <th>{{t('mark')}}</th>
        </tr>
        <tr *ngFor="let entry of page.results">
            <td>{{dateOf(entry.date)}}</td>
            <td>{{entry.note}}</td>
            <td>{{entry.type}}</td>
            <td>{{entry.mark}}</td>
        </tr>
    </table>
</ng-container>
</div>

