<ng-container *transloco="let t">
<div class="container">
    <h1>{{grade}}. {{t('class')}}</h1>
        <h2>{{year}}</h2>
        <div>
            <button [disabled]="!changed" [ngClass]="changed ? 'primary-btn':'inactive-btn'" mat-stroked-button (click)="save()">{{t('save')}} </button>
        </div>
        <table  [ngClass]="loading?'inactive':''">
            <tr>
                <th></th>
                <th style="display:flex; flex-direction:column">
                    <span class="clickable" (click)="changeMonth(-1)" [matTooltip]="t('previous_month')"
                        matTooltipPosition="before">
                        <<</span>
                            <span class="clickable" (click)="changeWeek(-1)" [matTooltip]="t('previous_week')"
                                matTooltipPosition="before">
                                <</span>
                </th>
                <th *ngFor="let day of dayNames, let i = index">
                    <div style="display:flex; flex-direction:column">
                        <i>{{t(months[i])}} - {{days[i]}}</i>
                        <i>{{t(day)}}</i>
                    </div>
                </th>
                <th style="display:flex; flex-direction:column">
                    <span class="clickable" (click)="changeMonth(1)" [matTooltip]="t('next_month')"
                        matTooltipPosition="after">>></span>
                    <span class="clickable" (click)="changeWeek(1)" [matTooltip]="t('next_week')"
                        matTooltipPosition="after">></span>
                </th>
            </tr>

            <tr *ngFor="let student of students">
                <td>{{student.fullNameC}} - {{student.fullNameL}}</td>
                <td>
                    <!-- placeholder for arrow -->
                </td>
                <td *ngFor="let day of dayNames, let i=index">
                    <mat-button-toggle-group (change)="setPresence(student,$event.value,i)"
                        [value]="isStudentPresent(student,i)">
                        <mat-button-toggle value="present">{{t('present')}}
                        </mat-button-toggle>
                        <mat-button-toggle value="absent">{{t('absent')}}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </td>
            </tr>
            <tr>
                <td>{{t('headcount')}}</td>
                <td>
                    <!-- placeholder for arrow -->
                </td>
                <td *ngFor="let day of dayNames, let i=index">{{sumOfPresentStudents(i)}}</td>
            </tr>
        </table>
        <app-spinner *ngIf="loading"></app-spinner>
       
</div>
</ng-container>