<div class="container">
    <form class="content" #registerForm="ngForm" (ngSubmit)="submit()">
        <mat-form-field>
            <mat-label>Child first name</mat-label>
            <input matInput ngModel type="text" name="firstName" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Child last name</mat-label>
            <input matInput ngModel type="text" name="lastName" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Class</mat-label>
            <mat-select ngModel name="grade" required>
                <mat-option *ngFor="let class of classes" [value]="class">
                    {{class}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button [matTooltip]="!registerForm.valid ? 'All fields must be filled' : ''"
            [ngClass]="registerForm.valid ? 'form-button' : 'inactive-button'" mat-stroked-button class="btn"
            type="submit()">
            Register
        </button>
    </form>
</div>