/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button.btn {
    width: 220px;
    color:white;
    margin:2px 0px;
  }

  button.form-button{
    background:#2196f3;
  }

  button.inactive-button{
    background-color: #cccccc;
    color: #666666;

  }

.clickable{
  cursor:pointer;
}