@use '../../variables' as v;
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:1%;
    .links>*{
        padding:5px;
    }
}
.grade_container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:300px;
    border-bottom: 2px solid v.$border_color;
}
b{
    font-size: 24px;
}
