@use '../../variables' as v;
.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:1%;
    .links>*{
        padding:5px;
    }
}
.center{
    justify-content: center;
}
::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){
    background:v.$secondary_color;
    b{color:white}
}