@use '../../variables' as v;
.container{
    .links>*{
        padding:5px;
    }
}
.grade_container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:350px;
    border-bottom: 2px solid v.$border_color;
}
.contact_info{
    margin-top:1%;
    text-align:center;
}
b{
    font-size: 24px;
}
