@use '../../variables' as v;
app-mark{
    display:flex;
    justify-content: center;
}

.subjects{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: v.$secondary_color;
 }
::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: v.$main_color
}
table{
    margin-bottom:2%;
}

table,
tr,
th,
td {
    border: 1px solid
}

th,
td {
    width: 75px;
}
textarea{
    resize: vertical;
}
.marks, .names {
    width:200px;
    text-align: center;
}
p{
    margin:0;
}

:host ::ng-deep .mat-radio-label-content {
    padding-right: 5px;
    padding-left: 1px;
}

.red {
    color: red
}
.crossed{
    text-decoration: line-through;
}

.pr-3{
    padding-right:3px;
}