app-mark{
    display:flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}
.subjects{
    margin-top:5%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

:host ::ng-deep .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle  {
    border:0;
}

table{
    margin-bottom:5%;
}

table,
tr,
th,
td {
    border: 1px solid
}

th,
td {
    width: 120px;
    height: 50px;
}

.marks {
    width: 180px;
}

:host ::ng-deep .mat-radio-label-content {
    padding-right: 5px;
    padding-left: 1px;
}

.red {
    color: red
}

.inactive>* {
    pointer-events: none;
    opacity: 0.5;
}

.pr-3{
    padding-right:3px;
}