<div class="container">
    <ng-container *transloco="let t">
    <h1>{{grade}}. {{t('class')}}</h1>
    <mat-button-toggle-group>
        <mat-button-toggle *ngFor="let subject of subjects" value="subject" (change)="changedSubject(subject)">
            {{t(subject)}}
        </mat-button-toggle>
    </mat-button-toggle-group>
    <div *ngIf="subject">
        <app-mark [ngClass]="loading ? 'inactive' : ''" [data]="resultData" (save)="save($event)"></app-mark>
        <table [ngClass]="editingId? 'inactive':''">
            <tr>
                <th></th>
                <th *ngFor="let month of months, let i=index">{{t(month.name)}}</th>
                <ng-container *transloco="let t">
                <th>{{t('grades')}}</th>
                </ng-container>
            </tr>
            <tr [ngClass]="loading ? 'inactive' : ''" *ngFor="let student of data$|async">
                <th>{{student.fullNameC}}</th>
                <td *ngFor="let month of months">
                    <span [ngClass]="['clickable','pr-3',redMark===result ? 'red' : '' ]"
                        *ngFor="let result of ratedInMonth(month.value,student.results)"
                        (click)="editMark(student._id,result)">{{result.mark}}</span>
                </td>
                <td class="marks">
                    <mat-radio-group (change)="changeMark(student._id,$event.value)">
                        <mat-radio-button [disabled]="editingId!==undefined" *ngFor="let number of [1,2,3,4,5]"
                            [value]="number">
                            <span class="wrap-mat-radio-label">{{number}}</span>
                        </mat-radio-button>
                    </mat-radio-group>
                </td>
            </tr>
        </table>
    </div>
</ng-container>
</div>
<app-spinner *ngIf="loading"></app-spinner>