<div class="container" (click)="outsideClick()">
    <ng-container *transloco="let t">
        <h1>{{grade}}. {{t('class')}}</h1>
        <app-subject-selector [disabled]="editingId!==undefined" [grade]="grade" (subjectEmitter)="changedSubject($event)">
        </app-subject-selector>
        <div *ngIf="subject">
            <app-mark [ngClass]="loading ? 'inactive' : ''" [dataInput]="resultData" (save)="save($event)"></app-mark>
            <table [ngClass]="editingId? 'inactive':''">
                <tr>
                    <th></th>
                    <th *ngFor="let month of months, let i=index">{{t(month.name)}}</th>
                    <ng-container *transloco="let t">
                        <th>{{t('text_assesment')}}</th>
                        <th>{{t('grades')}}</th>
                    </ng-container>
                </tr>
                <tr [ngClass]="loading ? 'inactive' : ''" *ngFor="let student of data$|async">
                    <th class="names">
                        <p>{{student.fullNameC}} </p>
                        <p>{{student.fullNameL}}</p>
                    </th>
                    <td *ngFor="let month of months">
                        <span *ngFor="let result of ratedInMonth(month.value,student.results)"
                            [ngClass]="['clickable','pr-3',redMark===result ? 'red' : '', result.deleted ? 'crossed' : '' ]"
                            (click)="editMark(student._id,result);$event.stopPropagation();">{{result.mark ? result.mark
                            : 'T'}}</span>
                        <!-- <span *ngFor="let result of ratedInMonth(month.value,student.results)"
                            (click)="delete(student._id,result);$event.stopPropagation();">{{result.mark ? result.mark : 'T'}}</span> -->
                    </td>
                    <td>
                        <textarea (change)="changeMark(student._id, $event)"></textarea>
                    </td>
                    <td class="marks">
                        <mat-radio-group (change)="changeMark(student._id,$event.value)">
                            <mat-radio-button [disabled]="editingId!==undefined" *ngFor="let number of [1,2,3,4,5]"
                                [value]="number">
                                {{number}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </td>
                </tr>
            </table>
        </div>
    </ng-container>
</div>
<app-spinner *ngIf="loading"></app-spinner>